absl-py==0.7.1
alembic==1.0.8
appnope==0.1.0
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
astunparse==1.6.2
async-generator==1.10
attrs==19.1.0
autobahn==19.3.3
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==3.1.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.12.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
colour==0.1.5
constantly==15.1.0
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.6
dash==0.43.0
dash-core-components==0.48.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.3
enum34==1.1.6
Flask==1.0.3
Flask-Compress==1.4.0
gast==0.2.2
geojson==2.4.1
gitdb2==2.0.5
GitPython==2.1.11
grpcio==1.19.0
gunicorn==19.9.0
h5py==2.9.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
inflection==0.3.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterhub==0.9.6
jupyterlab==0.35.0
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiteconnect==3.7.7
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
lxml==4.3.2
Mako==1.0.8
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==6.0.0
mpld3==0.3
nbconvert==5.4.0
nbdime==1.0.5
nbformat==4.4.0
notebook==5.7.8
numexpr==2.6.9
numpy==1.16.0
oauthenticator==0.8.1
pamela==1.0.0
pandas==0.23.4
pandas-datareader==0.7.0
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.3
pexpect==4.6.0
pickleshare==0.7.5
pipenv==11.9.0
pivottablejs==0.9.0
pixiedust==1.1.15
plotly==3.7.1
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.7.0
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
Pygments==2.3.1
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
python-dateutil==2.7.5
python-editor==1.0.4
python-oauth2==1.1.0
pytz==2018.9
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
Quandl==3.4.6
QuantLib-Python==1.14
requests==2.21.0
retrying==1.3.3
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.9.1
SQLAlchemy==1.3.2
TA-Lib==0.4.17
tables==3.5.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
typed-ast==1.3.5
urllib3==1.24.1
virtualenv==15.1.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.0
widgetsnbextension==3.4.2
wrapt==1.11.1
zope.interface==4.6.0
